
.Products-Container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
    align-content: stretch;
    height: 100%;
    width: 100%;
}

.Product-Container {
}

.shop-image{

}

.delete-product-from-shop {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    border: 2px solid beige;
    background-color: tomato;
  }