
.Profile-Body-Container {
 height: 94vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
.profile-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-top: 20px; 
}


		.profile-user-info{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;  
			margin-top: 20px; 
			height: 200px;
			width:450px;
			/*margin-top: 20px; */
			/* background: linear-gradient(to bottom right, #F4F4F9, #B8DBD9); */
			margin: 5px;
			border-radius: 10px;
			/* background: linear-gradient(to bottom,#D1E8E6 90%, #B8DBD9 );  */
			background: #D1E8E6;
		}
		.user-name-header{

		}
		.profile-image{
			order:3;
			height:200px;
			width: 200px;
		}
		.profile-picture{
			width: 190px;
			height: 190px;
			border: solid #F4F4F9 5px;
			border-radius: 50%;
		}
		.profile-user-name{
			order:2;
		}
		.profile-email{
			order:2;
		}
		.profile-authid{
			order:2;
		}
		.profile-employee-id{
			order:2;
		}
		.profile-allowancebalance{
			order:2;
		}
		.profile-pointbalance{
			order:2;
		}
		.profile-userrole{
			order:2;
		}
		.edit-profile-button {
			order:2;
			text-decoration: none;
			margin:10px;
			display: inline-block;
			padding: 10px;
			cursor: pointer;
			border-radius: 3px;
			transition: .3s;
			background: rgb(64, 172, 39);
		}
		.edit-profile-button:hover {
			color:  RGBA(0, 220, 255, 1.00);
			background-color: white;
			border: 2px solid RGBA(0, 220, 255, 1.00);
		  }
.Transaction-History-Container{
	width:70%;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	align-items: center;
	
	
}
.purchase-history-item{
	outline: solid black 1px;
	display: flex;
	justify-content: space-between;
	height: 20px;
	margin-top: -300px;
animation: slide-down .70s;
animation-fill-mode: both; 	
}
	/* .purchase-history-item{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;

	} */


		.purchase-history-image{
			order:1;
			height: 50px;
		}

		.purchase-history-productname{
			order:2;
		}

		.purchase-history-productdescription{
			order:3;
		}

		.purchase-history-saleprice{
			order:4;
		}

.Point-History-Drop-Down-Container{
	overflow: hidden;  
	width: 100%;  	
}
#Point-History-Container {
    margin-top: -130px;
    animation: slide-down .70s;
    animation-fill-mode: forwards;
	/* z-index: -1; */
	
}



	.point-history-item {
		outline: solid black 1px;
		display: flex;
		justify-content: space-between;
		height: 20px;

	}
			.point-history-giver{
				margin-left: 10px;
				margin-top: 5px;
				margin-bottom: 5px;	
				height:20px;			
				width: 40%;
			}

			.point-history-reciever {
				margin-top: 5px;
				margin-bottom: 5px;
				height:20px;
				width: 40%;
			}

			.point-history-total{
				margin-right: 10px;
				margin-top: 5px;
				margin-bottom: 5px;	
				height:20px;	
				width: 20%;
				text-align: right;
			}

			.point-history-timestamp{
				
			}


@keyframes slide-down {
	to {
		margin-top: 0px; }
	}

	.toggle_PointHistory{
		background-color: #9DDDDB;
		/* border: solid 3px linear-gradient(#9DDDDB, #586F7C); */
		border-radius: 9px;
		color: #253237;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		width: 70%;
		background: rgb(64, 172, 39);
	}
	.toggle_PurchaseHistory{
		background-color: #9DDDDB;
		/* border: solid 3px linear-gradient(#9DDDDB, #586F7C); */
		border-radius: 9px;
		color: #253237;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		width: 70%;
		background: rgb(64, 172, 39);
	}
	
	