.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}


/* 
button {
    margin-top: 15px;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    background: white;
    font-size: 20px;
    font-family: 'Overlock', cursive;
  }
  
  button:focus {
    outline: none;
  } */
.save-employee-button {
  height: 150px;
  width: 100px;
  border: solid 1px black
}