.App {
  text-align: center;
}
.Body-Container{

}
.login-button{
  height: 300px;
  width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
