@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App-Container {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #000000;
  /* z-index: 0; */
  position: relative;
}

.Nav-Container{
height: 6vh;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 5;
}

.Body-Container{
display:flex;
justify-content: center;
/* height:94vh; */
/* height: 100%; */
background-color: #F4F4F9;
}

.Left-Body-Container{
  order:1;
  background-color: #F4F4F9;
  /* flex-grow:2;   */
  width: 25%;
  /* height:94vh; */
}
  .Left-Side-Bar-Container{

  }

.Center-Body-Container{
  order:1;
  background-color: #B8DBD9;
  /* flex-grow:3; */
  width: 50%;
  /* height:94vh; */
  /* background: linear-gradient(to bottom right, #B8DBD9, #586F7C); */
}


.Right-Body-Container{
  order:1;
  background-color: #F4F4F9; 
  /* flex-grow:2; */
  width: 25%;
  height:100%;
}
  .Right-Body-Container{

  }

/* .App-Footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

} */

/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
} */


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
/* and (min-device-width: 414px)  */
and (max-device-width: 1150px) 
/* and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait)  */
{ 
  
  .App-Container {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #000000;
  }
  
  .Nav-Container{
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  }
  
  .Body-Container{
  display:flex;
  justify-content: center;
  /* height:94vh; */
  /* height: 100%; */
  background-color: #F4F4F9;
  }
  
  .Left-Body-Container{
    order:1;
    background-color: #F4F4F9;
    /* flex-grow:2;   */
    width: 0%;
    /* height:94vh; */
  }
    .Left-Side-Bar-Container{
  
    }
  
  .Center-Body-Container{
    order:1;
    background-color: #B8DBD9;
    /* flex-grow:3; */
    width: 100%;
    /* height:94vh; */
    /* background: linear-gradient(to bottom right, #B8DBD9, #586F7C); */
  }
  
  
  .Right-Body-Container{
    order:1;
    background-color: #F4F4F9; 
    /* flex-grow:2; */
    width: 0%;
    height:100%;
  }
    .Right-Body-Container{
  
    }
}
.Home-Shadow{
  background: white;
  z-index: 9;
  position: absolute;
  height: 100vh;
  width: 100vw; 
}
.Home-Screen{
  background: url('./assets/office-workers.svg') center center no-repeat;
  background-size: cover;
    height: 100vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 0; 
}

colors{
  color: #253237;  /* Nav & Buttons -- Darkest */
  color: #F4F4F9;  /* Side Bar lighest*/
  color: #B8DBD9;  /* Center medium color*/
  color: #586F7C;  /* Medium dark sidebar button*/
}

/* .Home-Screen{
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1500015139098-84b51c349a60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=723d79deb963b314924b180d6e8fc241&auto=format&fit=crop&w=2250&q=80') center center no-repeat;
  background-size: cover;
} */
  
/* .Home-Screen::after {
    z-index: 10;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6; 
  } */
