/* a:visited {color:white;} */
/* a:hover {color:#F4F4F9;} */
.mobile-nav-bar-menu-svg{
    height:50px;
    width: 50px;
     
 }
.mobile-dropbtn{
    height:50px;
    width: 50px;
     
 }
.Nav-Bar-Container {
    height: 100%;
 /* background-color: #586F7C; */
 
 /* justify-content: center; */
 align-items: center;
 justify-content: center;
 
 display: flex;
 background-color: #253237;
 z-index: 2; 
}

.nav-bar {   
    display: flex;
    align-items: center;    
    z-index: 1; 
}

.nav-ul-links{
    list-style: none;
    /* display:flex;
    justify-content: space-around; */         
}
        .li-nav-search-bar{
            height:100%;
            background-color: #EE6C4D;
            /* border: solid 2px #FCA418; */
            /* margin-left: 20px; */
            padding: 3px;
            border-top-right-radius: 9px;
            border-bottom-right-radius: 9px;
        }
        .li-nav-search-button{
            text-decoration: none;
            /* background-color: #FCA418; */
            color: black;
        }
        
        ul > li > div> input{
            height: 16px;
            padding:0px;
            margin: 0px;
        }
        .li-nav-link{
            padding: 0 15px;
            
            
        }

        .nav-link {
            color: white;
            text-decoration: none;
            
            
        }
        .nav-bar-profile-image{
            width: 32px;
			height: 32px;
            border: solid #F4F4F9 1px;
            border-radius: 50%;
            
        }
        
        .nav-bar-notification-svg{
            width: 28px;
			height: 28px;
            /* border: solid #F4F4F9 1px; */
            border-radius: 50%;  
            z-index: 1;        
        }


/* Dropdown Button */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;   
    z-index: 1; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -130px;
    animation: slide-down .76s;
    animation-fill-mode: forwards;
    z-index: -1; 
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #384449;
}  */
.li-nav-link > a > button{
    display: inline-block;
    background-color: #B8DBD9;    
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    border: 2px solid #B8DBD9;
    color: #ffffff;


    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 18px;
}
#demoButton{
    display: inline-block;
    background-color: #B8DBD9;    
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    border: 2px solid #B8DBD9;
    color: #ffffff;


    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 18px;
}

@keyframes slide-down {
	to {
		margin-top: 0px; }
	}
.nav-logout-link{
    color: white;
    text-decoration: none;
    margin-bottom: 6px;
}
.mobile-nav-bar{
display:none;
}





























































/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
/* and (min-device-width: 414px)  */
and (max-device-width: 1150px) 
/* and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait)  */
{ 

/* a:visited {color:white;} */
/* a:hover {color:#F4F4F9;} */

.Nav-Bar-Container {
    height: 100%;
 align-items: center;
 justify-content: center;
 display: flex;
 background-color: #253237;
 z-index: 2; 
}

.nav-bar {   
    display: none;
}
.mobile-nav-bar{
    display: inline;
    width:100vh;
    
}

.mobile-dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.mobile-nav-dropdown {
    position: relative;
    display: inline-block;   
    z-index: 1; 
}

.mobile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -130px;
    animation: slide-down .76s;
    animation-fill-mode: forwards;
    z-index: -1; 
}

.mobile-dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mobile-dropdown-content div:hover {background-color: #f1f1f1}

.mobile-nav-dropdown:hover .mobile-dropdown-content {
    display: block;
}


@keyframes slide-down {
	to {
		margin-top: 0px; }
	}


/* Dropdown Button */

}
